body {
    background-color: #424242;
}

.form-group {
    color: #009688;
    padding-top: 20px;
}

.navbar {
    border-radius: 10px; 
    background-color: #009688;
    overflow: hidden;
    padding-top: 5px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 35px;
    font-size: 15px;
}

.navbar a.active {
    background-color: #02534B; 
}

#tavern_image {
    width: 75px;
    height: 75px;
}



