body {
    background-color: #424242;
}

.col-sm-3 {
    padding-left: 0px;
}

.form-group {
    padding-left: none;
}

.page {
    float: left;
    padding-top: 15px;
}

.row-2 {
    padding-top: 10px;
}

.subRace {
    padding-top: 10px;
}

.header {
    color: #009688;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    border-radius: 10px; 
    background-color: #009688;
    overflow: hidden;
    padding-top: 5px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 35px;
    font-size: 15px;
}

.navbar a.active {
    background-color: #02534B; 
}

#tavern_image {
    width: 75px;
    height: 75px;
}








